.site-nav{
    height: 42px;
    background: $main-color;
    color: white;
    padding-left: 10%;
    padding-top: 8px;
    margin-bottom: 10px;
    a{
        color: white;
        padding: 0 10px;
    }
}
